/* Basic editor styles */
.tiptap {
  @apply h-full border-input-border bg-background p-1 outline-none;

  > * + * {
    @apply mt-2;
  }

  ul,
  ol {
    @apply py-2;
  }

  ul > li,
  ol > li {
    @apply ms-6;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  h1 {
    @apply text-2xl font-extrabold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply font-medium;
  }

  h5 {
    @apply text-sm font-light;
  }

  h6 {
    @apply text-xs font-extralight;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  .ProseMirror-selectednode > img {
    @apply outline outline-primary;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  blockquote {
    padding-inline-start: 1rem;
    border-inline-start: 2px solid #0d0d0d;
    border-radius: 0.5rem;
    background-color: lightgray;
  }

  hr {
    border: none;
    border-top: 2px solid #0d0d0d;
    margin: 2rem 0;
  }
}

/* Placeholder (at the top) */
.tiptap .is-editor-empty:first-child::before {
  @apply pointer-events-none float-start h-0 text-sm text-muted-foreground content-[attr(data-placeholder)];
}

/* Table-specific styling */
.tiptap {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: center;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }
}

.tableWrapper {
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
