@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --header: 216 33% 97%;
    --header-foreground: 218 38% 60%;
    --dashboard: 216 33% 97%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --tab: 0 0% 100%;
    --tab-foreground: 220 9% 46%;
    --tab-active: 210 63% 93%;
    --tab-active-foreground: 221 79% 48%;
    --primary: 226 88% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 353 67% 49%;
    --destructive-foreground: 210 40% 98%;
    --action: 188.7 94.5% 42.7%;
    --action-foreground: 210 40% 98%;
    --alert: 37.7 92.1% 50.2%;
    --alert-foreground: 210 40% 98%;
    --success: 142.8 64.2% 24.1%;
    --success-foreground: 210 40% 98%;
    --highlight: 45.9 96.7% 64.5%;
    --highlight-foreground: 222.2 84% 4.9%;
    --link: 226 88% 52%;
    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 100%;
    --input-border: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --scrollbar: 215 16.3% 46.9%;
    --table-header: 216 45% 98%;
    --table-row-active: 212 100% 96%;
    --table-checkbox-active: 242 64% 61%;
    --badge-success: 151 82% 94%;
    --badge-success-foreground: 150 73% 29%;
    --badge-destructive: 353 100% 96%;
    --badge-destructive-foreground: 353 67% 49%;
    --badge-pink: 284 100% 93%;
    --badge-pink-foreground: 285 98% 66%;
    --badge-blue: 222 100% 94%;
    --badge-blue-foreground: 223 68% 37%;
    --badge-lightblue: 222 100% 94%;
    --badge-lightblue-foreground: 222 100% 68%;
    --badge-purple: 246 90% 96%;
    --badge-purple-foreground: 261 69% 42%;
    --chart-1: 207 57% 26%;
    --chart-2: 170 39% 54%;
    --chart-3: 120 2% 78%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 218 26% 21%;
    --foreground: 210 40% 98%;
    --header: 219 23% 26%;
    --header-foreground: 218 38% 60%;
    --dashboard: 215 29% 15%;
    --card: 218 26% 21%;
    --card-foreground: 210 40% 98%;
    --popover: 218 26% 21%;
    --popover-foreground: 210 40% 98%;
    --tab: 218 25% 21%;
    --tab-foreground: 220 47% 85%;
    --tab-active: 223 56% 31%;
    --tab-active-foreground: 0 0% 100%;
    --primary: 226 88% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 351 99% 68%;
    --destructive-foreground: 210 40% 98%;
    --action: 194.4 69.6% 27.1%;
    --action-foreground: 210 40% 98%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 210 40% 98%;
    --highlight: 22.7 82.5% 31.4%;
    --highlight-foreground: 210 40% 98%;
    --link: 221 45% 73%;
    --border: 215 29% 15%;
    --input: 215 14% 34%;
    --input-border: 218 11% 65%;
    --ring: 224.3 76.3% 48%;
    --scrollbar: 213 26.8% 83.9%;
    --table-header: 216 22% 25%;
    --table-row-active: 223 56% 31%;
    --table-checkbox-active: 242 64% 61%;
    --badge-success: 151 82% 94%;
    --badge-success-foreground: 150 73% 29%;
    --badge-destructive: 353 100% 96%;
    --badge-destructive-foreground: 353 67% 49%;
    --badge-pink: 284 100% 93%;
    --badge-pink-foreground: 285 98% 66%;
    --badge-blue: 217 19% 27%;
    --badge-blue-foreground: 217 93% 72%;
    --badge-lightblue: 222 100% 94%;
    --badge-lightblue-foreground: 222 100% 68%;
    --badge-purple: 246 90% 96%;
    --badge-purple-foreground: 261 69% 42%;
    --chart-1: 207 57% 26%;
    --chart-2: 170 39% 54%;
    --chart-3: 120 2% 78%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}
