import { z } from "~/lib/zod";
import {
  createTRPCRouter,
  protectedProcedure,
} from "~/server/api/trpc";
{{#main.table.tree}}
  import { makeTree } from "~/utils/array";
{{/main.table.tree}}

export const {{main.name.singular.camel}}Router = createTRPCRouter({
  all: protectedProcedure.query(async ({ ctx }) => {
    return await ctx.db.{{main.table.name.camel}}.findMany({
      select: {
        {{#main.table.columns}}
          {{#isTable}}
            {{name.original}}: true,
          {{/isTable}}
        {{/main.table.columns}}
        {{#children}}
          _count: {
            select: {
              {{table.name.original}}: true,
            },
          },
        {{/children}}
      },
      {{#main.table.softDelete}}
      where: { deletedAt: null },
      {{/main.table.softDelete}}
    });
  }),
  dropdown: protectedProcedure.query(async ({ ctx }) => {
    return await ctx.db.{{main.table.name.camel}}.findMany({
      select: {
        {{main.table.specialColumns.primary.name.original}}: true,
        {{main.table.specialColumns.title.name.original}}: true,
        {{#main.table.tree}}
          {{main.table.specialColumns.parent.name.original}}: true,
        {{/main.table.tree}}
      },
      {{#main.table.softDelete}}
      where: { deletedAt: null },
      {{/main.table.softDelete}}
    });
  }),
  single: protectedProcedure
    .input(z.string().uuid())
    .query(async ({ input, ctx }) => {
      return await ctx.db.{{main.table.name.camel}}.findUnique({
        select: {
          {{#main.table.columns}}
            {{#isPrimary}}
              {{name.original}}: true,
            {{/isPrimary}}
            {{^isPrimary}}
              {{#isForm}}
                {{name.original}}: true,
              {{/isForm}}
            {{/isPrimary}}
          {{/main.table.columns}}
          {{#children}}
            {{table.name.original}}: {
              select: {
                {{#table.columns}}
                  {{#isPrimary}}
                    {{name.original}}: true,
                  {{/isPrimary}}
                  {{^isPrimary}}
                    {{#isForm}}
                      {{name.original}}: true,
                    {{/isForm}}
                  {{/isPrimary}}
                {{/table.columns}}
              },
            },
          {{/children}}
        },
        where: {
          {{main.table.specialColumns.primary.name.original}}: input,
          {{#main.table.softDelete}}
            deletedAt: null,
          {{/main.table.softDelete}}
        },
      });
    }),
  create: protectedProcedure
    .input(
      z.object({
        {{#main.table.columns}}
          {{^isPrimary}}
            {{#isForm}}
              {{name.camel}}:
              {{#isText}}
                z.string().trim().min(1)
              {{/isText}}
              {{#isSelect}}
                z.enum([
                  {{#options}}
                  "{{option}}",
                  {{/options}}
                ])
              {{/isSelect}}
              {{#isFloat}}
                z.number()
              {{/isFloat}}
              {{#isInt}}
                z.number().int()
              {{/isInt}}
              {{#isBigInt}}
                z.bigint()
              {{/isBigInt}}
              {{#isDate}}
                z.coerce.date()
              {{/isDate}}
              {{#isBoolean}}
                z.boolean()
              {{/isBoolean}}
              {{#isRelation}}
                z.string(){{#relation.primary.isNumber}}.transform((id) => Number.parseInt(id)){{/relation.primary.isNumber}}
              {{/isRelation}}
                {{#isOptional}}
                  {{#isText}}
                    .transform((s) => s || null)
                  {{/isText}}
                  .nullish(),
                {{/isOptional}}
                {{^isOptional}}
                  ,
                {{/isOptional}}
            {{/isForm}}
          {{/isPrimary}}
        {{/main.table.columns}}
        {{#main.table.tree}}
          {{main.table.specialColumns.parent.name.camel}}: z
            .string()
            {{#main.table.specialColumns.parent.isNumber}}
              .transform((id) => Number.parseInt(id))
            {{/main.table.specialColumns.parent.isNumber}}
            .nullish(),
        {{/main.table.tree}}
        {{#children}}
          {{name.plural.camel}}: z.object({
            {{#table.columns}}
              {{^isPrimary}}
                {{#isForm}}
                  {{name.camel}}:
                  {{#isText}}
                    z.string().trim().min(1)
                  {{/isText}}
                  {{#isSelect}}
                    z.enum([
                      {{#options}}
                      "{{option}}",
                      {{/options}}
                    ])
                  {{/isSelect}}
                  {{#isFloat}}
                    z.number()
                  {{/isFloat}}
                  {{#isInt}}
                    z.number().int()
                  {{/isInt}}
                  {{#isBigInt}}
                    z.bigint()
                  {{/isBigInt}}
                  {{#isDate}}
                    z.coerce.date()
                  {{/isDate}}
                  {{#isBoolean}}
                    z.boolean()
                  {{/isBoolean}}
                  {{#isRelation}}
                    z.string(){{#relation.primary.isNumber}}.transform((id) => Number.parseInt(id)){{/relation.primary.isNumber}}
                  {{/isRelation}}
                    {{#isOptional}}
                      {{#isText}}
                        .transform((s) => s || null)
                      {{/isText}}
                      .nullish(),
                    {{/isOptional}}
                    {{^isOptional}}
                      ,
                    {{/isOptional}}
                {{/isForm}}
              {{/isPrimary}}
            {{/table.columns}}
            {{#table.tree}}
              {{table.specialColumns.parent.name.camel}}: z
                .string()
                {{#table.specialColumns.parent.isNumber}}
                  .transform((id) => Number.parseInt(id))
                {{/table.specialColumns.parent.isNumber}}
                .nullish(),
            {{/table.tree}}
          })
          {{#table.form.hasRelated}}
            .superRefine((arg, ctx) => {
              {{#table.columns}}
                {{#isRelated}}
                if (arg.{{related.field.camel}} === "{{related.value}}" && arg.{{name.camel}} == null) {
                  ctx.addIssue({
                    code: "invalid_type",
                    expected: "{{type}}",
                    received: "null",
                    path: ["{{name.camel}}"],
                  });
                }
                {{/isRelated}}
              {{/table.columns}}
            })
          {{/table.form.hasRelated}}
          .array(),
        {{/children}}
      })
      {{#main.table.form.hasRelated}}
        .superRefine((arg, ctx) => {
          {{#main.table.columns}}
            {{#isRelated}}
            if (arg.{{related.field.camel}} === "{{related.value}}" && arg.{{name.camel}} == null) {
              ctx.addIssue({
                code: "invalid_type",
                expected: "{{type}}",
                received: "null",
                path: ["{{name.camel}}"],
              });
            }
            {{/isRelated}}
          {{/main.table.columns}}
        })
      {{/main.table.form.hasRelated}}
    )
    .mutation(async ({ input, ctx }) => {
      return await ctx.db.{{main.table.name.camel}}.create({
        data: {
          {{#main.table.columns}}
            {{^isPrimary}}
              {{#isForm}}
                {{name.original}}: input.{{name.camel}},
              {{/isForm}}
            {{/isPrimary}}
          {{/main.table.columns}}
          {{#main.table.tree}}
            {{main.table.specialColumns.parent.name.original}}: input.{{main.table.specialColumns.parent.name.camel}},
          {{/main.table.tree}}
          {{#children}}
            {{table.name.original}}: {
              createMany: {
                data: input.{{name.plural.camel}}.map(({{name.singular.camel}}) => {
                  return {
                    {{#table.columns}}
                      {{^isPrimary}}
                        {{#isForm}}
                          {{name.original}}: {{name.singular.camel}}.{{name.camel}},
                        {{/isForm}}
                      {{/isPrimary}}
                    {{/table.columns}}
                    {{#table.tree}}
                      {{table.specialColumns.parent.name.original}}: {{name.singular.camel}}.{{table.specialColumns.parent.name.camel}},
                    {{/table.tree}}
                  }
                }),
              },
            },
          {{/children}}
        },
      });
    }),
  update: protectedProcedure
    .input(
      z.object({
        {{#main.table.columns}}
          {{#isPrimary}}
            {{name.camel}}: z.string(){{#main.table.specialColumns.primary.isNumber}}.transform((id) => Number.parseInt(id)){{/main.table.specialColumns.primary.isNumber}},
          {{/isPrimary}}
          {{#isForm}}
            {{name.camel}}:
            {{#isText}}
              z.string().trim().min(1)
            {{/isText}}
            {{#isSelect}}
              z.enum([
                {{#options}}
                "{{option}}",
                {{/options}}
              ])
            {{/isSelect}}
            {{#isFloat}}
              z.number()
            {{/isFloat}}
            {{#isInt}}
              z.number().int()
            {{/isInt}}
            {{#isBigInt}}
              z.bigint()
            {{/isBigInt}}
            {{#isDate}}
              z.coerce.date()
            {{/isDate}}
            {{#isBoolean}}
              z.boolean()
            {{/isBoolean}}
            {{#isRelation}}
              z.string(){{#relation.primary.isNumber}}.transform((id) => Number.parseInt(id)){{/relation.primary.isNumber}}
            {{/isRelation}}
              {{#isOptional}}
                {{#isText}}
                  .transform((s) => s || null)
                {{/isText}}
                .nullish(),
              {{/isOptional}}
              {{^isOptional}}
                .optional(),
              {{/isOptional}}
          {{/isForm}}
        {{/main.table.columns}}
        {{#main.table.tree}}
          {{main.table.specialColumns.parent.name.camel}}: z
            .string()
            {{#main.table.specialColumns.parent.isNumber}}
              .transform((id) => Number.parseInt(id))
            {{/main.table.specialColumns.parent.isNumber}}
            .nullish(),
        {{/main.table.tree}}
        {{#children}}
          {{name.plural.camel}}: z.object({
            {{#table.columns}}
              {{^isPrimary}}
                {{#isForm}}
                  {{name.camel}}:
                  {{#isText}}
                    z.string().trim().min(1)
                  {{/isText}}
                  {{#isSelect}}
                    z.enum([
                      {{#options}}
                      "{{option}}",
                      {{/options}}
                    ])
                  {{/isSelect}}
                  {{#isFloat}}
                    z.number()
                  {{/isFloat}}
                  {{#isInt}}
                    z.number().int()
                  {{/isInt}}
                  {{#isBigInt}}
                    z.bigint()
                  {{/isBigInt}}
                  {{#isDate}}
                    z.coerce.date()
                  {{/isDate}}
                  {{#isBoolean}}
                    z.boolean()
                  {{/isBoolean}}
                  {{#isRelation}}
                    z.string(){{#relation.primary.isNumber}}.transform((id) => Number.parseInt(id)){{/relation.primary.isNumber}}
                  {{/isRelation}}
                    {{#isOptional}}
                      {{#isText}}
                        .transform((s) => s || null)
                      {{/isText}}
                      .nullish(),
                    {{/isOptional}}
                    {{^isOptional}}
                      ,
                    {{/isOptional}}
                {{/isForm}}
              {{/isPrimary}}
            {{/table.columns}}
            {{#table.tree}}
              {{table.specialColumns.parent.name.camel}}: z
                .string()
                {{#table.specialColumns.parent.isNumber}}
                  .transform((id) => Number.parseInt(id))
                {{/table.specialColumns.parent.isNumber}}
                .nullish(),
            {{/table.tree}}
          })
          {{#table.form.hasRelated}}
            .superRefine((arg, ctx) => {
              {{#table.columns}}
                {{#isRelated}}
                if (arg.{{related.field.camel}} === "{{related.value}}" && arg.{{name.camel}} == null) {
                  ctx.addIssue({
                    code: "invalid_type",
                    expected: "{{type}}",
                    received: "null",
                    path: ["{{name.camel}}"],
                  });
                }
                {{/isRelated}}
              {{/table.columns}}
            })
          {{/table.form.hasRelated}}
          .array().optional(),
        {{/children}}
      })
      {{#main.table.form.hasRelated}}
        .superRefine((arg, ctx) => {
          {{#main.table.columns}}
            {{#isRelated}}
            if (arg.{{related.field.camel}} === "{{related.value}}" && arg.{{name.camel}} == null) {
              ctx.addIssue({
                code: "invalid_type",
                expected: "{{type}}",
                received: "null",
                path: ["{{name.camel}}"],
              });
            }
            {{/isRelated}}
          {{/main.table.columns}}
        })
      {{/main.table.form.hasRelated}}
    )
    .mutation(async ({ input, ctx }) => {
      return await ctx.db.{{main.table.name.camel}}.update({
        where: { {{main.table.specialColumns.primary.name.original}}: input.{{main.table.specialColumns.primary.name.camel}} },
        data: {
          {{#main.table.columns}}
            {{^isPrimary}}
              {{#isForm}}
                {{name.original}}: input.{{name.camel}},
              {{/isForm}}
            {{/isPrimary}}
          {{/main.table.columns}}
          {{#main.table.tree}}
            {{main.table.specialColumns.parent.name.original}}: input.{{main.table.specialColumns.parent.name.camel}},
          {{/main.table.tree}}
          {{#children}}
            {{table.name.original}}: input.{{name.plural.camel}} ? {
              deleteMany: {},
              createMany: {
                data: input.{{name.plural.camel}}.map(({{name.singular.camel}}) => {
                  return {
                    {{#table.columns}}
                      {{^isPrimary}}
                        {{#isForm}}
                          {{name.original}}: {{name.singular.camel}}.{{name.camel}},
                        {{/isForm}}
                      {{/isPrimary}}
                    {{/table.columns}}
                    {{#table.tree}}
                      {{table.specialColumns.parent.name.original}}: {{name.singular.camel}}.{{table.specialColumns.parent.name.camel}},
                    {{/table.tree}}
                  }
                }),
              },
            } : undefined,
          {{/children}}
        },
      });
    }),
  delete: protectedProcedure
    .input(z.string().uuid())
    .mutation(async ({ input, ctx }) => {
      {{#main.table.softDelete}}
        return await ctx.db.{{main.table.name.camel}}.update({
          where: { {{main.table.specialColumns.primary.name.original}}: input },
          data: { deletedAt: new Date() },
        });
      {{/main.table.softDelete}}
      {{^main.table.softDelete}}
        return await ctx.db.{{main.table.name.camel}}.delete({
          where: { {{main.table.specialColumns.primary.name.original}}: input },
        });
      {{/main.table.softDelete}}
    }),
});
